In [3]:
a = 'bbbb   '
a.strip()

'bbbb'

In [5]:
a.rstrip()

'bbbb'

Avoiding Type Errors with the str() Function

In [6]:
age = 23
message = "Happy " + age + "rd Birthday!"
print(message)

TypeError: can only concatenate str (not "int") to str

In [10]:
age = 23
message = "Happy ",  age , "rd Birthday!"
print(message)

('Happy ', 23, 'rd Birthday!')

In [11]:
age = 23
message = f"Happy {age}rd Birthday!"
print(message)

Happy 23rd Birthday!

In [12]:
age = 23
message = "Happy {}rd Birthday!".format(age)
print(message)

Happy 23rd Birthday!

In [13]:
 3 / 2

1.5